.header {
    padding: 15px;
}

.menu__logo {
    font-family: 'Futura', 'Avant Garde', 'Avenir';

}

.avatar {
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 15px;
}

.body {
    justify-content: center;
    width: 100%;
}

.footer {}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__item {}

.profile-header {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.profile-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*
.profile-posts .post {
    width: 33%;
    margin: 15px;
}
*/
.profile-posts img {
    width: 100%;
    max-width: 300px;
}

.spinner {
    display: flex;
    margin: auto;
}

.profile-posts {
     width: 100%;
     max-width: 1000px;
     margin: auto;
}