a {
    color: black;
}

.header {
    padding: 15px;
    border: 1px solid #ccc;
}

.menu__logo,
.menu__logo a {
    font-family: 'Brush Script MT';
    font-size: 27px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 15px;
}

.body {
    justify-content: center;
    width: 100%;
}

.footer {}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__item,
.menu__item a {
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}

.spinner {
    display: flex;
    margin: auto;
}
